@model IEnumerable<EAI_Sample_Project.EFFactory.Building>

@{
    ViewBag.Title = "MapResources";
}

<h2>MapResources</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.Users, new { id = "ddlUsers", @class = "form-control" })
            @*@Html.DropDownListFor(model=>item.Users,(SelectList)ViewBag.Users,"--select--")*@
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })m
        </td>
    </tr>
}

</table>
